@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

.title{
	font-family: 'Fruktur', cursive;
	font-size: 100px;
	font-variant-caps: all;
	/*background: #58c0df;*/
	padding: 45px;
	/*background-image: url('images/bg1.jpg');*/
	color: #000000;
	opacity: 80%;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

body{
	background-image: url('images/doodle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

td, th, tr {
  padding: 5px;
  font-size: 1.5rem;
  text-align:center;
}

.btn{
 	width: 150px;
}

.heading{
	text-decoration: underline;
	text-align: center;
	font-size: 50px;
	font-variant-caps: all;
	padding: 10px;
 	font-family: 'Fruktur', cursive;
}


/*basic operaions*/
.equation{
	text-align: center;
    display: flex;
    font-size: 5rem;
    align-items: center;
    margin: 0px 60px;
    align-content: center;
    justify-content: space-around;
}

.options{
	justify-content: space-around;
}

#answer-options{
	margin: 10% 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}